mixin navbar()
    .top-bar
        .top-bar-left
            ul.dropdown.menu(data-dropdown-menu='')
                li.menu-text Here you are
                li
                    a(href='./index.html') Home
                li
                    a(href='./create.html') Two
                li
                    a(href='#') Three
        .top-bar-right
            ul.menu
                li
                    input(type='search', placeholder='Search')
                li
                    button.button(type='button') Search
