//
   Created by nicol on 19/06/2017.

include template/head
include template/nav
+head(['list.js'])
    body
    +navbar()
    div.search
        input(type="text", name='search', placeholder='Name')
        button(href='#').hollow.button Search
    div.row
        div.column.large-12
            table.hover
                thead
                    tr
                        th(width='200') Firstname
                        th(width='200') Lastname
                        th(width='150') Age
                        th(width='150') Action
                tbody#list-user
            //    tfooter
                    tr
                        td
                            input(type="text", name='createFirstname', placeholder='Firstname')
                        td
                            input(type="text", name='createLastname', placeholder=' Lastname')
                        td
                            input(type="numeric", name='createAge', placeholder='Age')
                        td
                            div.action
                                button(href='#').hollow.button.success#create-user Create






